html{
    font-family: 'Poppins' !important;
}
body {
    min-height: 100vh;
    padding: 0;
}

.mt-5 {
    margin-top: 15px;
}

.d-flex {
    display: flex;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.brand {
    text-align: center;
    color: #909090;
}

.form-input{
    align-items: center;
    width: 100%;
    height: 36px;
    border: 1px solid #ed492c;
    box-sizing: border-box;
    border-radius: 46px;
    background-color: #fff;
    color: #a0a0a0;
    margin: 18px 0;
    text-align: center;
}

.submit {
    display: flex;
    align-items: center;
    padding: 15px;
    width: 100%;
    background: #ed492c;
    border: #ed492c;
    border-radius: 43px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    flex-flow: column;
    cursor: pointer;
}

.submit:hover {
    background: #ed492c;
    border: #ed492c;
    color: #fff;
}


.title {
    height: 64px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 64px;
    text-align: center;
    color: #ed492c;
}

.instruct {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 80%;    
}

p{
    text-align: center;
}

.first-navigation {
    display: flex;
    justify-content: space-around;
}

.navigation {
    background: #ed492c;
    padding: 6px 28px;
    border-radius: 33px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.dots {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dots__item {
    border-radius: 9999px;
    height: 12px;
    width: 12px;
    background-color: transparent;
    border: 1px solid rgb(237 73 44);
    margin: 0 4px;
    cursor: pointer;
}

.dots__item.active {
    background-color: rgb(237 73 44);
}

.disabled {
   pointer-events: none;
   opacity: 0.7;
}

.buy{
    background: #ed852c;
    border-radius: 50px;
    color: #fff;
    padding: 6px 44px;
    text-transform: uppercase;
    margin: 18px 0px;
}

.titleProduct {
    font-size: 26px;
    color: #363636;
    font-weight: 400;
    color: #ed2c2c;
}

.itemProduct {
    background: #f9f9f9;
    padding: 23px;
    border-radius: 4px;
    margin: 25px 0px;
}